<div class="flex flex-col h-full min-w-champioin-list max-w-champion-list mx-4 
bg-gradient-to-r from-blueTeam via-home to-redTeam">
    <!--match name-->
    <div class="flex justify-between">
        <div class="pl-2 text-white text-sm">BLUE TEAM</div>
        <div *ngIf="isMatch; else customMatchName"
            class="relative flex items-center pl-2">
            <div
                type="text"
                class="w-64 pt-2 justify-center bg-inherit outline-none
                text-white text-center text-sm font-medium truncate"
            >{{ matchName | text: 'replaceBrWithSpace' }}
            </div>
        </div>
        <ng-template #customMatchName>
        <div class="relative flex items-center pl-2">
            <input #matchNameInput
                type="text" placeholder="매치 이름 입력하기 (20자)"
                [(ngModel)]="matchName"
                (focus)="onMathchNameFocus()"
                (blur)="onMatchNameBlur()"
                (keyup.enter)="updateMatchName()"
                class="w-64 pt-2 justify-center bg-inherit border-b outline-none
                    text-white text-center text-sm font-medium placeholder:text-gray-400/75
                    truncate"
                [maxLength]="nameMaxLength"
            />

            <mat-icon
                (mousedown)="preventBlur($event)"
                (click)="clearMatchName()"
                [ngClass]="{
                    'invisible': !isMatchNameFocused
                }"
                class="flex pt-1 pl-1 text-sm font-medium text-center text-gray-400/75
                    cursor-pointer"            
            >cancel
            </mat-icon>
        </div>
        </ng-template>
        <div class="flex-row-reverse pr-2 text-white text-sm">RED TEAM</div>
    </div>
    <!--team info-->
    <div class="w-full h-full flex justify-between items-center">
        <ng-container>
            <app-match-team-info
                team="blue"
                [isHomeTeamBlue]="isHomeTeamBlue">
            </app-match-team-info>
            <ng-container *ngIf="isMatch">
                <div class="text-white">
                    <mat-icon class="text-white cursor-pointer transition-transform transform hover:scale-105 
                    active:scale-95 active:text-gray-500"
                    (click)="onSwapIconClick()">swap_horizontal_circle</mat-icon>
                </div>
            </ng-container>
            <app-match-team-info
                team="red"
                [isHomeTeamBlue]="isHomeTeamBlue">
            </app-match-team-info>
        </ng-container>
    </div>
</div>
  