<header>
    <nav class="bg-home p-2 border-b border-white/30">
        <div class="container mx-auto flex justify-between items-center">
          <div class="text-white text-xl font-bold">
            <a routerLink="">My BanPick</a>
          </div>
          <ul class="flex space-x-4">
            <li><a routerLink="/auth/login" class="text-lg text-white hover:underline">
              <span class="text-lg align-bottom mr-1 material-icons">login</span>로그인</a></li>
          </ul>
        </div>
    </nav>
</header>