<body class="flex items-center justify-center min-h-screen">
    <div class="bg-white border border-gray-300 shadow-lg rounded-lg p-8 w-full max-w-sm">
        <div class="text-center mb-8">
            <h1 class="text-2xl font-bold text-gray-800">로그인</h1>
            <p class="mt-4 text-gray-600">My BanPick에 오신걸 환영합니다.</p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="">
                <div class="relative mb-8">
                    <input type="text" id="email" formControlName="email" autocomplete="off" class="peer w-full h-12 px-3 border border-gray-300 rounded-md focus:outline-none focus:border-gray-800" required />
                    <label for="email" class="absolute left-3 top-3 text-gray-500 peer-placeholder-shown:top-3 peer-placeholder-shown:text-gray-500 peer-placeholder-shown:text-base transition-all peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-gray-500 bg-white px-1
                     peer-valid:-top-2.5 peer-valid:text-xs">이메일</label>
                </div>
                <div class="relative mb-8">
                    <input type="password" id="password" formControlName="password" autocomplete="off" class="peer w-full h-12 px-3 border border-gray-300 rounded-md focus:outline-none focus:border-gray-800" required />
                    <label for="password" class="absolute left-3 top-3 text-gray-500 peer-placeholder-shown:top-3 peer-placeholder-shown:text-gray-500 peer-placeholder-shown:text-base transition-all peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-gray-500 bg-white px-1
                     peer-valid:-top-2.5 peer-valid:text-xs">비밀번호</label>
                </div>
                <div class="flex justify-between items-center mb-8">
                    <!-- <div class="flex items-center">
                        <input type="checkbox" id="check" class="ml-0.5 mr-1 accent-gray-800">
                        <label for="check" class="text-sm text-gray-600">로그인 상태 유지</label>
                    </div> -->
                    <a routerLink="/auth/password/forget" class="text-sm text-gray-800 hover:underline">
                        <span class="text-sm align-bottom mr-1 material-icons">lock_open</span>비밀번호를 잊으셨나요?</a>
                </div>
                <div>
                    <button type="submit" class="card-button" [disabled]="trying">
                        <app-spinner *ngIf="trying" [size]="1.2" color="text-white"></app-spinner>
                        <span *ngIf="!trying">로그인</span>
                    </button>
                </div>
            </div>            
        </form>

        <!-- <div class="flex items-center justify-center space-x-2 mt-8">
            <hr class="flex-grow border-gray-300">
            <p class="text-sm text-gray-600">or</p>
            <hr class="flex-grow border-gray-300">
        </div>
        <div class="mt-6">
            <a href="#" class="flex items-center justify-center bg-green-500 text-white h-12 rounded-md hover:bg-green-600 transition">
                <img src="/images/naver-icon.svg" alt="네이버 로그인" class="w-5 mr-2">
                <p>네이버 로그인</p>
            </a>
        </div> -->
        <div class="text-right mt-6">
            <p class="text-gray-600">
                <span class="text-sm mr-2">회원이 아니신가요?</span>
                
                <a routerLink="/auth/signup" class="text-gray-800 whitespace-pre hover:underline">
                    <span class="text-base align-bottom mr-1 material-icons">person_add</span>회원가입</a>
            </p>
        </div>
    </div>
</body>
