<section class="bg-home min-h-screen">
  <div class="flex flex-col max-w-screen-xl mx-auto">
    <div class="flex flex-row justify-center items-stretch pt-2 pl-4 pr-4">
      <!-- blue ban champion list -->
      <div class="min-w-80 max-w-80">
        <app-team-ban
          team="blue">
        </app-team-ban>
      </div>
      <!-- info -->
      <div class="flex flex-col min-w-champioin-list max-w-champion-list mx-4 
        bg-gradient-to-r from-blueTeam via-home to-redTeam">
        <app-match-info></app-match-info>        
      </div>
      <!-- red ban champion list -->
      <div class="min-w-80 max-w-80">
        <app-team-ban
          team="red">
        </app-team-ban>
      </div>
    </div>
    <!-- pick -->
    <div class="flex justify-center text-white p-3">
      <!-- Blue Team -->
      <div class="mr-4 min-w-80 max-w-80">
        <app-team-player
          team="blue">
        </app-team-player>
      </div>

      <!-- Champion List -->
      <div class="w-2/4 min-w-champioin-list max-w-champion-list pl-5 pt-2 bg-gray-800">
        <app-champion-list></app-champion-list>
      </div>
  
      <!-- Red Team -->    
      <div class="ml-4 min-w-80 max-w-80">
        <app-team-player
          team="red">
        </app-team-player>
      </div>
    </div>
    
    <!--result-->
    <div class="flex justify-center">
      <app-pick-ban-result></app-pick-ban-result>
    </div>
    <div class="flex justify-center items-center">
      <app-result-button></app-result-button>
    </div>
    
  </div>
  
</section>