<section class="bg-gray-900 min-h-screen">
  <div class="flex flex-col max-w-screen-xl mx-auto">
    <!--info-->
    <div class="flex flex-row pt-8 pl-8 pr-8 rounded">
      <div class="w-5/12">
        <div class="text-6xl text-white">BLUE TEAM</div>
      </div>
      <div class="w-1/6 bg-gray-800">
      </div>
      <div class="w-5/12">
        <div class="text-6xl text-white text-end" >RED TEAM</div>
      </div>
    </div>
    <!-- ban champion list -->
    <div>
    </div>
    <!-- pick -->
    <div class="flex  text-white p-4">
      <!-- Blue Team -->
      <div class="w-1/4 mr-4">
        <app-team-player
        [team]="blueTeam">
        </app-team-player>
      </div>

      <!-- Champion List -->
      <div class="w-2/4 h-540px min-w-480px p-4 bg-gray-800 rounded">
        <app-champion-list></app-champion-list>
      </div>
  
      <!-- Red Team -->    
      <div class="w-1/4 ml-4">
        <app-team-player
        [team]="redTeam">
        </app-team-player>
      </div>
    </div>
    
    <!--result-->
    <div class="p-4">
      <app-pick-ban-order #pickBanOrder></app-pick-ban-order>
    </div>
  </div>
  
</section>