<div class="flex-1 bg-home mt-12 text-gray-200 border-t border-white/30">
    <div class="ml-2 pc-container py-5 tracking-wide">
      <div class="mb-8 space-x-5 ">
        <a href="/clause/service" target="_blank" rel="noopener noreferrer">이용약관</a>
        <a href="/clause/policy" target="_blank" rel="noopener noreferrer">개인정보 취급방침</a>
      </div>
  
      <div>© 2016-{{ year }} MYBANPICK</div>
      Terms of Service | 문의 :
      <a href="mailto:mybanpick@gmail.com" class="mailto">mybanpick&#64;gmail.com</a>
    </div>
  </div>