.flex-row {
    display:flex;
    flex-direction: row;
    gap: 0.325rem;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.325rem;
}

.selectedBlue { border: 0.125rem solid blue; }
.selectedRed { border: 0.125rem solid red; }