.flex-row {
    display:flex;
    flex-direction: row;
    gap: 0.325rem;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.325rem;
}

.ban-bg-blue {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(29 78 216);
}

.ban-bg-red {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(185 28 28);

}

.selectedBlue { border: 0.125rem solid rgb(29 78 216); }
.selectedRed { border: 0.125rem solid rgb(185 28 28); }