.cursor-pointer { 
    cursor: pointer;
 }
.selected { border: 2px solid wheat; }

.disabled {
    opacity: 0.2;  
    pointer-events: none;
  }

  .custom-spinner .mat-spinner {
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: #646078;
  }
  