<div class="flex justify-between items-center mb-4">
    <div class="text-ms">챔피언 선택</div>
    <div class="flex items-center border bg-gray-700">
        <div class="flex items-center justify-center w-8 h-8"><mat-icon>search</mat-icon></div>
        <input type="text" (input)="onSearch($event)" placeholder="챔피언 이름으로 검색" 
            class="flex-grow py-2 pr-2 bg-gray-700 text-white border-none outline-none">
    </div>
</div>
<div class="flex flex-wrap gap-6 overflow-y-auto h-460px">
    <ng-container *ngIf="champions$ | async as champions; else loading">
        <div *ngFor="let champion of champions" 
            class="flex flex-col items-center cursor-pointer"
            (click) = "selectChampion(champion)"
            [class.disabled] = "!isChampionAvailable(champion)">
            <img [src]="champion.image" alt="" class="w-18 h-18 mb-1"
            [class.selected] = "isSelected(champion)">
            <div class="text-0.6rem">{{champion.name}}</div>
        </div>        
    </ng-container>
    <ng-template #loading>
        <div class="flex justify-center items-center w-full h-full">
            <mat-spinner [diameter]="40" class="custom-spinner"></mat-spinner>
        </div>
    </ng-template>
</div>