<body class="flex items-center justify-center min-h-screen">
    <div *ngIf="!sendComplete"
        class="bg-white border border-gray-300 shadow-lg rounded-lg p-8 w-full max-w-sm">
        <div class="text-center mb-8">
            <h1 class="text-2xl font-bold text-gray-800">비밀번호 찾기</h1>
            <p class="mt-4 text-gray-600 text-xs">비밀번호 재설정을 위한 링크가 아래 입력된 이메일로 발송됩니다.</p>
        </div>
        <form [formGroup]="passwordForgetForm" (ngSubmit)="onSubmit()">
            <div class="">
                <!-- 이메일 입력 -->
                <div class="relative mb-10">
                    <input type="text" id="email" formControlName="email" autocomplete="off" class="peer w-full h-12 px-3 border border-gray-300 rounded-md focus:outline-none focus:border-gray-800" required />
                    <label for="email" class="absolute left-3 top-3 text-gray-500 peer-placeholder-shown:top-3 peer-placeholder-shown:text-gray-500 peer-placeholder-shown:text-base transition-all peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-gray-500 bg-white px-1
                     peer-valid:-top-2.5 peer-valid:text-xs">이메일</label>
                    <div *ngIf="passwordForgetForm.get('email')?.invalid && (passwordForgetForm.get('email')?.dirty || passwordForgetForm.get('email')?.touched)">
                        <small *ngIf="passwordForgetForm.get('email')?.errors?.['required']"
                            class="invalid-form-data">이메일을 입력하세요.</small>
                        <small *ngIf="passwordForgetForm.get('email')?.errors?.['email']"
                            class="invalid-form-data">유효한 이메일 주소를 입력하세요.</small>
                    </div>
                </div>
                <div>
                    <button type="submit" class="card-button" [disabled]="trying">
                        <app-spinner *ngIf="trying" [size]="1.2" color="text-white"></app-spinner>
                        <span *ngIf="!trying">링크 보내기</span>
                    </button>
                </div>
                <div class="text-left mt-6">
                    <p class="text-gray-600">
                        <a routerLink="/auth/login" class="text-gray-800 hover:underline">
                            <span class="text-base mr-1 align-bottom material-icons">login</span>로그인</a>
                    </p>
                </div>                
            </div>
        </form>
    </div>

    <div *ngIf="sendComplete"
        class="bg-white border border-gray-300 shadow-lg rounded-lg p-8 w-full max-w-sm">
        <div class="text-center mb-8">
            <h1 class="text-2xl font-bold text-gray-800">My BanPick</h1>
            <div class="px-10 py-10">
                <div class="font-bold text-xl mb-4">{{ email?.value }}으로<br />메일이 발송되었습니다.</div>
                1시간 내에 메일에 명시된 링크를 클릭해야 인증을 완료하실 수 있습니다.
                <div class="mt-10 mb-6 text-sm">
                  이메일을 받지 못하셨나요?
                </div>
                <div>
                    <button (click)="sendEmail()" class="card-button" [disabled]="trying">
                        <app-spinner *ngIf="trying" [size]="1.2" color="text-white"></app-spinner>
                        <span *ngIf="!trying">다시보내기</span>
                    </button>
                </div>    
                
              </div>            
        </div>   
    </div>    
</body>
