@use '@angular/material' as mat;

@include mat.core();

// 기본 색상 팔레트 정의
$my-primary: mat.define-palette(mat.$deep-purple-palette, A200, A100, A700);
$my-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

// 커스텀 테마 정의
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  background: (
    default: #f3e5f5, // 기본 배경색
    app: #ede7f6,     // 애플리케이션 배경색
    card: #ffffff,    // 카드 배경색
    hover: #d1c4e9,   // 호버 배경색
  ),
));

// 테마 적용
@include mat.all-component-themes($my-theme);
