<main class="bg-home min-h-screen flex flex-col items-center">
    <div class="w-112">
        <div class="flex flex-col items-center pt-10">
            <div class="mr-auto p-0.5">
                <span class=" text-white text-lg m-0.5">밴픽 짜기</span>
                <div class="py-1">
                    <div routerLink="/simulation/custom"
                        class="prediction-card justify-center">
                        <span>S T A R T</span>
                        <mat-icon>arrow_forward</mat-icon>
                    </div>
                </div>
            </div>        
        </div>

        <div class="flex flex-col pt-10 space-y-4">
            <span class="text-white text-lg m-0.5">밴픽 예측하기</span>
            <div *ngFor="let match of matches; let i = index">
                <div class="text-cardHeader p-1 font-bold space-x-2">
                    <span>{{match.schedule}}</span><span><em>{{match.name}}</em></span>
                    
                </div>
                <div routerLink="/simulation/match/{{match.id}}"
                    class="prediction-card relative">
                    <div class="mr-auto flex items-center justify-center">
                        <img class="w-13 h-13 object-contain m-2" src='{{match.home.logo}}'/>
                        <span>{{match.home.keyName}}</span>
                    </div>
                    <div class="absolute left-1/2 transform -translate-x-1/2 text-lg
                        text-gradient-blue-to-red">VS</div>
                    <div class="flex flex-row-reverse items-center">
                        <img class="w-13 h-13 object-contain m-2" src="assets/img/logo/team/T1.png" />
                        <span>{{match.away.keyName}}</span>
                    </div>
                </div>    
            </div>
      
        </div>

    </div>
</main>
